

body {
    background-image: url(lyingcat.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Segoe UI';
    margin-left: 0px;
}

#register_p {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 25px;
    font-size: 70px;
}

form {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 5px solid rgb(255, 64, 64);
    border-radius: 15px;
    background-color: rgba(229, 255, 61, 0.8);
    
}

nav {
    height: 65px;
    overflow: hidden;
    background-color: rgb(255, 255, 71);
    position: sticky;
    display: block;
    top: 5px;
    width: 110%;
}

nav a {
    font-size: x-large;
    text-align: center;
    float: left;
    background-color: rgb(255, 255, 71);
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    height: 100%;
    background-color: rgb(188, 205, 7);
}

.textbars {
    font-size: x-large;
}

input[type="text"], input[type="password"] {
    margin-top: 25px;
    margin-bottom: 25px;
    height: 25px;
    width: 250px;
}

input:required {
    border: 2px solid red;
}

input[type="checkbox"]{
    margin-bottom: 15px;
}

input[type="submit"] {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100px;
    height: 50px;
}