/* FO DOLGOK AZ OLDALON */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(255, 239, 214, 0.821);
    font-family: sans-serif;
}

main {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

@keyframes megjelenes {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
}

/* LOGIN FORM */

hr {
    border: 1px solid white;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
}

/* GRID */

.grid-container {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 45px;
}

.grid-container > .grid-item {
    text-align: left;
}

.grid-container > .grid-item {
    text-align: right;
}

.grid-container-c {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto auto;
    gap: 0px;
    align-items: center;
    justify-content: center;
}

/*******/

.login_form:hover {
    box-shadow: 0px 0px 50px rgb(255, 166, 1);
}

.login_form {
    padding: 20px 20px 30px;
    height: 80vh;
    min-height: 500px;
    max-width: 75vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 0px 40px rgb(32, 32, 32);
    background-color: orange;
    transition: all 0.5s ease-in-out;
}

input[type] {
    padding-left: 5px;
    width: 18vw;
    height: 3vh;
    font-size: larger;
    padding: 5px 10px;
}

input[type="checkbox"] {
    font-size: medium;
    width: 50px;
    margin: 10px;
}

label {
    color: white;
    font-size: 25px;
}

input:required {
    border: 1px solid black;
}

.h1_login {
    font-size: 50px;
    margin-top: 25px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.login_form input[type="submit"] {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 40px;
    width: 22vw;
    height: 8vh;
    background-color: white;
    border-color: white;
    border-radius: 5%;
    color: orange;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 0 10px 5px rgba(255, 166, 0, 0.638);
    cursor: pointer;
    transition: all 500ms;
    margin-bottom: 30px;
}

#notyet_member {
    font-size: large;
    color: rgb(255, 166, 1);
}

a {
    color: white;
}

/* GOMBOK ES ANIMACIOI */

input[type="submit"]:hover {
    transition: all 500ms;
    filter: brightness(75%);
    font-size: 15px;
    scale: 105% 105%;
    box-shadow: 0 0 10px 10px rgba(255, 166, 0, 0.638);
}

@media screen and (max-width: 800px) {
    label {
        font-size: 20px;
    }

    input[type] {
        font-size: 15px;
    }

    td {
        padding: 5px;
    }

    .login_form input[type="submit"] {
        width: 95%;
    }

    .h1_login {
        font-size: 40px;
    }
    .grid-container {
        gap: 20px;
    }
}