* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

@keyframes megjelenes {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
}

/* HEADER */

header {
    background-image: url(../Kepek/hatter_sotet.jpg);
    height: 100vh;
    margin: 0;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    animation: megjelenes 1500ms ;
}

.header-container {
    width: 30%;
    min-width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(99, 99, 99, 0.8);
    color: white;
    position: absolute;
    text-align: center;
    border-radius: 20px;
}

.cim {
    text-transform: uppercase;
    font-size: 300%;
}

.alCim {
    font-size: 150%;
}

.header-container hr {
    width: 70%;
    margin: 10px auto 15px auto;
    height: 2px;
    background-color: white;
}

/* NAV BAR */

nav {
    position: sticky;
    top: 85px;
    overflow: none;
    animation: megjelenes 500ms ease-in;
    float:inline-end;
    width: 100%;
    translate: 0 -100%;
    z-index: 10;
}

nav ul {
    margin: auto;
    list-style-type: none;
    width: 100%;
    background-color: #da7821;
    height: 85px;
    border-radius: 0 0 20px 20px;
}

nav ul li {
    float: right;
    margin-right: 20px;
}

#profile-img {
    display: inline-block;
    width: 5%;
}

a.gomb {
    padding: 30px;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
    transition: all 500ms;
}


a.gomb:hover {
    transition: all 500ms;
    padding: 27px 25px;
    background-color: #d48b4b;
    font-size: 25px;
}

li.icon-img-container {
    display: flex;
    float: left;
}

.icon-img {
    padding: 10px 20px;
    height: 60px;
    margin-left: 20px;
    border-radius: 10px;
    transition: all 500ms;
}

.icon-img:hover {
    height: 68px;
    padding: 8px 25px;
    background-color: #d48b4b;
    transition: all 500ms;
}

.active {
    transition: all 500ms;
    padding: 27px 25px;
    background-color: #d48b4b;
    font-size: 25px;
    border-radius: 10px;
}
/* MAIN */

main {
    box-shadow: 0 0 20px 2px grey;
    width: 100%;
    margin: auto;
}

 /* ADOPTALAS */

section {
    min-height: 800px;
    margin: 5px 0px 5px 0px ;
    padding: 30px 10px;
}

h1 {
    text-align: center;
    margin: 0;
    font-size: 45px;
    color: #d48b4b;
}

.flexbox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 30px auto;
}

.adoptalas {
    text-decoration: none;
    color: rgba(143, 67, 1, 0.647);
    font-size: 20px;
    text-align: left;
    width: fit-content;
    display: block;
    float: left;
    margin: 15px;
    transition: all 200ms;
}

.adoptalas:hover {
    transition: all 200ms;
    box-shadow: 0 0 0px 5px rgba(255, 166, 0, 0.638);
    border-radius: 5%;
    filter: brightness(85%);
}

.macska-kep {
    padding: 20px;
    box-shadow: 0px 0px 5px 2px rgba(255, 166, 0, 0.638);
    border-radius: 5%;
    width: 250px;
    height:330px;
}

.macska-kep img {
    height: 200px;
    max-width: 250px;
    margin: auto;
    display: block;
    border-radius: 20px;
    box-shadow: 0 0 10px 3px gray;
    
}

.macska-kep h2 {
    text-align: center;
    margin: 5px auto;
}

input[type="button"] {
    margin: auto;
    display: block;
    margin-top: 70px;
    width: 300px;
    height: 50px;
    background-color: orange;
    border-color: orange;
    border-radius: 5%;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 0 10px 5px rgba(255, 166, 0, 0.638);
    cursor: pointer;
    transition: all 500ms;
}

input[type="button"]:hover {
    transition: all 500ms;
    background-color: #ffbe44;
    border-color: #ffbe44;
    font-size: 15px;
    scale: 105% 105%;
    box-shadow: 0 0 10px 10px rgba(255, 166, 0, 0.638);
}

/* TAMOGATAS */

section:nth-of-type(even) {
    background-color: orange;
    box-shadow: 0 0 20px 5px rgb(255, 189, 66);
    min-height: 600px;
    margin-bottom: 20px;
}

.tamogatas > h2 {
    color: white;
}

.segitseg {
    width: 400px;
    margin: 15px;
    padding: 50px;
    color: orange;
    text-decoration: none;
    display: block;
    float: left;
    background-color: white;
    border-radius: 20px;
    font-size: 25px;
    font-weight: 400;
    box-shadow: 0 0 5px 5px white;
    transition: all 500ms;
}

.segitseg:hover {
    filter: brightness(85%);
    box-shadow: 0 0 10px 10px lightgrey;
    transition: all 500ms;
}

.segitseg > img {
    height: 150px;
    width: 150px;
    display: block;
    margin: auto;
}

.segitseg > h2 {
    text-align: center;
    font-weight: bold;
    margin: 20px;
    text-transform: uppercase;
}

/* STATISZTIKAK */

.statisztikak {
    z-index: 0;
    min-height: 150px;
}

.statisztikak > div > div {
    margin: 15px;
    display: block;
    width: 250px;
    float: left;
    color: orange;
    text-align: center;
    text-decoration: none;
}

.statisztikak > div > div > p {
    text-align: center;
    font-size: 20px;
}

.statisztikak > div > div > h2 {
    font-size: 20px;
}

.statisztikak > div > div > h2::first-line {
    font-weight: bolder;
    font-size: 25px;
}

.statisztikak > div > div > img {
    height: 100px;
    width: 100px;
    display: block;
    margin: auto;
}

/* CICAINK GONDOLATA */

.cicaink-gondolata > h2 {
    color: white;
    
}

.cicaink-gondolata > div > div {
    width: 500px;
    float: left;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px 10px white;
    margin: 20px;
}

.cicaink-gondolata > div > div > p {
    margin-top: 40px;
}

.cicaink-gondolata > div > div > p > q {
    position: relative;
    top: 50%;
    font-size: 25px;
}

.cicaink-gondolata > div > div > img {
    width: 30%;
    min-width: 100px;
    float: left;
    border-radius: 20px;
    margin: 20px;
}

/* FOOTER */

footer {
    height: 175px;
    background-color: rgb(103, 103, 103);
    box-shadow: 0 0 10px 10px rgb(103, 103, 103);
    color: white;
    filter:brightness(60%);
    line-height: 150%;
    padding: 30px 50px;
}

footer h1 {
    font-size: 35px;
    text-align: left;
    color: white;
    margin-bottom: 30px;
}