* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: orange;
}

main {
    width: 90%;
    margin: auto;
    padding: 35px 0px;
    /*min-height: fit-content;*/
    background-color: white;
    box-shadow: 0 0 20px 5px white;
    flex-direction: column;
    min-height: 100px;
}

@keyframes megjelenes {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
}

/* HEADER */

.addPost {
    float: left;
    position: absolute;
    top: 35%;
    left: 7%;
    background-color: orange;
    width: 50px;
    height: 50px;
    transition: all 500ms;
}

.addPost button {
    width: 100%;
    height: 50px;
    background: none;
    border: none;
    background-image: url("../Kepek/Ikonok/PluszJel.jpg");
    background-size: cover;
    transition: all 500ms;
}

.feltoltes {
    display: none; 
    transition: all 500ms;
}

input[type="file"] {
    display: block;
    margin: auto;
    width: fit-content;
    top: 50%;
    left: 15%;
    position: relative;
    transition: all 500ms;
}


label.kep {
    background-color: white;
    min-width: 250px;
    height: 480px;
    float: left;
    transition: all 500ms;
}

label.kep:hover {
    filter: brightness(80%);
    transition: all 500ms;
}

.feltoltes div.description {
    color: orange;
    font-size: 20px;
    font-weight: bold;
    min-width: 60%;
    display: block;
    text-align: left;
    padding: 35px 10px;
    height: 410px;
}

.feltoltes input {
    margin: 0 auto 30px;
}

.addPost:hover {
    transition: all 500ms;
    filter: brightness(80%);
    scale: 110% 110%;
}

form.xSymbol {
    float: right;
    height: 50px;
    width: 50px;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: #ff914c;
    box-shadow: 0px 0px 10px 5px #ff914c;
    transition: all 500ms;
}

form.xSymbol input {
    height: 100%;
    width: 100%;
    background-image: url("../Kepek/Ikonok/XJel.jpg");
    background-size: cover;
    border: none;
    border-radius: 20px;
}

form.xSymbol:hover {
    transition: all 500ms;
    scale: 110% 110%;
    filter: brightness(80%);
}

header h1 {
    text-align: center;
    font-weight: bold;
    font-size: 70px;
    color: white;
    margin: 5vh;
}

.flexbox {
    display: flex;
    clear: both;
}

main > div {
    height: fit-content;
    margin: 30px auto;
    width: 80%;
    background-color: orange;
    box-shadow: 0px 0px 10px 5px orange;
    border-radius: 5px;
    padding: 5px;
}

h2 {
    margin: 15px;
    font-size: 60px;
    font-weight: bold;
    color: white;
    border-radius: 20px;
    display: block;
    float: left;
}

.kep {
    width: 150%;
    min-height: 600px;
    border-radius: 20px 0 0 20px;
    background-size: cover;
    background-position: center;
}

.description {
    min-width: 40%;
    background-color: white;
    padding: 20px;
    border-radius: 0 20px 20px 0;
}

hr {
    width: 100%;
    margin: 20px 0;
}

.description p {
    color: orange;
    height:min-content;
    font-size: 40px;
    padding: 20px;
    font-style: italic;
}

input[type="text"] {
    width: 80%;
    height: 50px;
    font-size: 20px;
}

 button, input[type="submit"] {
    background-color: orange;
    color: white;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    width: 18%;
    transition: all 500ms;
}

.description button:hover, .description input[type="submit"]:hover {
    filter: brightness(80%);
    transition: all 500ms;
    scale: 110% 110%;
}

.description ul {
    margin-top: 20px;
    list-style-type:disc;
    padding:25px;
    /*border: 5px solid orange;*/
    max-height: 180px;
    overflow-y: auto;
}

.description li input[type="submit"] {
    height: fit-content;
    width: fit-content;
    background: none;
    color: black;
    border: none;
    font-size: 15px;
    font-weight: normal;
    padding-bottom: 0;
    text-decoration: underline;
}

.description  li p {
    margin: 2px 10px 10px;
    padding: 5px;
    border: 2px solid grey;
    color: black;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
    translate: -5% 0;
}

.orokbefogad {
    width: 50%;
    margin: auto;
    display: block;
    margin-top: 20px;
    font-weight: bold;
    transition: all 500ms;
}

.orokbefogad:hover {
    text-decoration: underline;
    transition: all 500ms;
}

/* RESZPONZIVITÁS */
@media screen and (max-width: 900px) {
    main * {
        overflow-x: hidden;
    }

    h2 {
        float:none;
        clear: both;
    }

    input[type="file"] {
        left:0;
    }

    
    .flexbox {
        flex-direction: column;
    }
    
    .addPost {
        top: 25%;
    }
    
    .feltoltes h2 {
        font-size: 50px;
    }
    
    label {
        margin: auto;
        display: block;
        text-align: center;
    }
    
    .description p {
        min-width: none;
        font-style: normal;
        width: 80%;
        font-size: 30px;
    }
    
    .kep {
        min-width: none;
        width: 100%;
        border-radius: 20px 20px 0 0;
    }
    
    .description {
        min-width: none;
        border-radius: 0 0 20px 20px;
    }
    
    button, input[type="submit"] {
        width:80%;
        display: block;
        margin: auto;
    }
    
    .description li input[type="submit"] {
        margin: 0;
    }

    .orokbefogad {
        width: 80%;
    }

    input[type="text"] {
        margin: auto;
        display: block;
    }

    header h1 {
        font-size: 50px;
    }

    nav {
        overflow: hidden;
    }

    nav ul li {
        overflow: hidden;
    }
}