* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

@keyframes megjelenes {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
}

header {
    background-image: url(../Kepek/lyingcat.jpg);
    min-height: 100%;
    margin: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: megjelenes 1500ms ;
}

.header-container {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(99, 99, 99, 0.9);
    color: white;
    position: absolute;
    text-align: center;
}

.cim {
    text-transform: uppercase;
    font-size: 300%;
}

.alCim {
    font-size: 150%;
}

.header-container hr {
    width: 70%;
    margin: 10px auto 15px auto;
    height: 2px;
    background-color: white;
}

nav {
    width: 100%;
    background-color: rgb(238, 175, 93);
    height: 85px;
    position: sticky;
    margin: auto;
    translate: 0 -100%;  /* Ez viszi feljebb */
}

nav ul {
    list-style-type: none;
    margin-right: 5%;
}

nav ul li {
    float: right;
    margin-right: 20px;
}

#profile-img {
    display: inline-block;
    width: 5%;
}

nav ul li a {
    padding: 30px;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    transition: all 500ms;
}

nav ul li a:hover {
    transition: all 500ms;
    padding: 27px 25px;
    background-color: rgb(186, 138, 74);
    font-size: 25px;
}

.icon-img {
    padding: 10px 20px;
    height: 70%;
    display: flex;
    float: left;
    margin-left: 20px;
    transition: all 500ms;
}

.icon-img:hover {
    height: 80%;
    padding: 8px 25px;
    background-color: rgb(186, 138, 74);
    transition: all 500ms;
}
