* {
    margin: 0;
    padding: 0;
}

@keyframes megjelenes {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
}

/* HEADER */

header {
    background-image: url(../Kepek/lyingcat.jpg);
    height: 750px;
    margin: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: megjelenes 1500ms ;
}

.header-container {
    width: 30%;
    min-width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(99, 99, 99, 0.9);
    color: white;
    position: absolute;
    text-align: center;
    border-radius: 20px;
}

.cim {
    text-transform: uppercase;
    font-size: 300%;
}

.alCim {
    font-size: 150%;
}

.header-container hr {
    width: 70%;
    margin: 10px auto 15px auto;
    height: 2px;
    background-color: white;
}

/* NAV BAR */

nav {
    position: sticky;
    top: 85px;
    overflow: none;
    animation: megjelenes 500ms ease-in;
}

nav ul {
    translate: 0 -100%;
    margin: auto;
    list-style-type: none;
    width: 100%;
    background-color: rgb(238, 175, 93);
    height: 85px;
    display: inline-block;
    position: relative;
    border-radius: 0 0 20px 20px;
}

nav ul li {
    float: right;
    margin-right: 20px;
}

#profile-img {
    display: inline-block;
    width: 5%;
}

a.gomb {
    padding: 30px;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    transition: all 500ms;
}

a.gomb:hover {
    transition: all 500ms;
    padding: 27px 25px;
    background-color: rgb(186, 138, 74);
    font-size: 25px;
}

li.icon-img-container {
    display: flex;
    float: left;
}

.icon-img {
    padding: 10px 20px;
    height: 60px;
    margin-left: 20px;
    transition: all 500ms;
}

.icon-img:hover {
    height: 68px;
    padding: 8px 25px;
    background-color: rgb(186, 138, 74);
    transition: all 500ms;
}

 /* FORUM */

.forum-container {
    height: 5000px;
}
