/* FO DOLGOK AZ OLDALON */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(255, 239, 214, 0.821);
    font-family: sans-serif;
}

main {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

/* ANIMACIO ES HOVER */

@keyframes megjelenes {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
}

.register_form:hover {
    box-shadow: 0px 0px 50px rgb(255, 166, 1);
}

/* ELVALASZTO VONAL */

hr {
    border: 1px solid white;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
}

/* URLAP ES ELEMEI */

.register_form {
    padding: 20px 20px 30px;
    height: fit-content;
    min-height: 800px;
    max-width: 75vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 0px 40px rgb(32, 32, 32);
    background-color: orange;
    transition: all 0.5s ease-in-out;
}

td:nth-of-type(odd) {
    font-size: x-large;
}

td {
    text-align: right;
    padding: 25px;
}

input[type] {
    padding-left: 5px;
    width: 18vw;
    height: 3vh;
    font-size: larger;
    padding: 5px 10px;
    transition: all 500ms;
}

input[type="checkbox"] {
    font-size: medium;
    width: 50px;
    margin: 10px;
}

label {
    color: white;
    font-size: 25px;
}

.checkbox-table label {
    color: white;
    font-size: 40px;
}

input:required {
    border: 2px solid red;
}

table {
    margin-left: auto;
    margin-right: auto;
    transition: all 500ms;
}

.checkbox-table {
    margin-top: 6vh;
}

.checkbox-table tr {
    height: 2vh;
}

.checkbox-table td {
    padding: 0;
    transition: all 500ms;
}

.checkbox-table td:nth-of-type(even) {
    padding-left: 7px;
}

td:nth-of-type(even) {
    text-align: left;
}

.h1_register {
    font-size: 50px;
    margin-top: 25px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    transition: all 500ms;
}

.register_form input[type="submit"] {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 40px;
    width: 22vw;
    height: 8vh;
    background-color: white;
    border-color: white;
    border-radius: 5%;
    color: orange;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 0 10px 5px rgba(255, 166, 0, 0.638);
    cursor: pointer;
    transition: all 500ms;
    margin-bottom: 30px;
}

#already_member {
    font-size: large;
    color: white;
}

a {
    color: white;
}

/* GOMBOK ES ANIMACIOI */

input[type="submit"]:hover {
    transition: all 500ms;
    filter: brightness(75%);
    font-size: 15px;
    scale: 105% 105%;
    box-shadow: 0 0 10px 10px rgba(255, 166, 0, 0.638);
}

@media screen and (max-width: 800px) {
    label {
        font-size: 20px;
    }

    input[type] {
        font-size: 15px;
    }

    td {
        padding: 5px;
    }

    .register_form input[type="submit"] {
        width: 80%;
    }

    .h1_register {
        font-size: 40px;
    }
}