* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 214, 137);
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    height: 65px;
    overflow: hidden;
    background-color: rgb(255, 255, 71);
    position: sticky;
    display: block;
    top: 5px;
    width: 100%;
}

nav a {
    font-size: x-large;
    text-align: center;
    float: left;
    background-color: rgb(255, 255, 71);
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    height: 100%;
    background-color: rgb(188, 205, 7);
}

hr {
    border: 1px solid black;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
}

form {
    padding-top: 20px;
    height: 800px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.75);
}

td {
    text-align: right;
    padding: 25px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 300px;
    height: 40px;
    font-size: larger;
}

input:required {
    border: 2px solid red;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.h1_register {
    margin-top: 25px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
}

input[type="checkbox"] {
    margin-top: 25px;
    margin-bottom: 25px;
}

input[type="submit"] {
    margin: auto;
    display: block;
    margin-top: 50px;
    width: 300px;
    height: 50px;
    background-color: orange;
    border-color: orange;
    border-radius: 5%;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 0 10px 5px rgba(255, 166, 0, 0.638);
    cursor: pointer;
    transition: all 500ms;
}

footer {
    height: 150px;
    background-color: rgb(103, 103, 103);
    box-shadow: 0 0 10px 10px rgb(103, 103, 103);
    color: white;
    filter:brightness(60%);
    line-height: 150%;
    padding: 30px 50px;
    margin-top: 120px;
}

footer h1 {
    font-size: 35px;
    text-align: left;
    color: white;
    margin-bottom: 30px;
}
