/* FO DOLGOK AZ OLDALON */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
}

main {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

/* ANIMACIO ES HOVER */

@keyframes megjelenes {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
}

.card:hover {
    background: orange;
    box-shadow: 0px 0px 50px rgb(255, 166, 1);
}

/* FLEXBOX */

.aboutus {
    font-size: 10vh;
    margin: 25px;
}

h1 {
    font-size: 5vh;
    text-align: center;
    color: #2a2a2a;
}

.flexbox-container {
    height: 60vh;
    display: flex;
    background-color: white;
    flex-direction: row;
    justify-content: space-evenly;
}

.flexbox-container > div {
    background-color: rgba(255, 157, 0, 0.821);
    min-width: 30vw;
    min-height: 40vh;
    border-radius: 3vh;
    box-shadow: 0 0 30px rgb(71, 71, 71);
    margin: 20px;
    margin-bottom: 40px;
    padding: 5px;
    padding-top: 25px;
    overflow: hidden;
    transition: all 0.75s ease-in-out;
}

.card hr {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border-color: rgb(30, 30, 30);
}

.card > p {
    font-size: 3vh;
    padding: 15px;
    text-align: center;
}

/* KARTYAK AMIK MAR NEM FLEXBOXOK */

.card {
    background-color: rgba(255, 157, 0, 0.821);
    width: 75vw;
    border-radius: 3vh;
    box-shadow: 0 0 30px rgb(71, 71, 71);
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    overflow: hidden;
    transition: all 0.75s ease-in-out;
}

hr {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    border-color: rgb(30, 30, 30);
}

.help {
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.donate {
    text-align: center;
    font-size: 24px;
}

/* GOMBOK ÉS ANIMACIOI */

input[type="button"] {
    margin: auto;
    display: block;
    margin-top: 70px;
    width: 30vw;
    height: 15vh;
    background-color: orange;
    border-color: orange;
    border-radius: 5%;
    color: white;
    text-transform: uppercase;
    font-size: 5vh;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 0 10px 5px rgba(255, 166, 0, 0.638);
    cursor: pointer;
    transition: all 500ms;
}

input[type="button"]:hover {
    transition: all 500ms;
    background-color: #ffbe44;
    border-color: #ffbe44;
    font-size: 5vh;
    scale: 105% 105%;
    box-shadow: 0 0 10px 10px rgba(255, 166, 0, 0.638);
}

input[type="submit"]:hover {
    transition: all 500ms;
    background-color: #ffbe44;
    border-color: #ffbe44;
    font-size: 15px;
    scale: 105% 105%;
    box-shadow: 0 0 10px 10px rgba(255, 166, 0, 0.638);
}


/* FOOTER */

footer {
    height: 100%;
    background-color: rgb(103, 103, 103);
    box-shadow: 0 0 10px 10px rgb(103, 103, 103);
    color: white;
    filter:brightness(60%);
    line-height: 150%;
    padding: 30px 50px;
    padding-bottom: 10px;
    margin-top: 120px;
}

footer h1 {
    font-size: 35px;
    text-align: left;
    color: white;
    margin-bottom: 30px;
}

.footer_form > h1 {
    margin-top: 35px;
}

.footer_form > input[type="email"] {
    border: 1px solid black;
    padding-left: 7px;
    font-size: 25px;
    margin-top: 0;
    width: 250px;
    height: 42px;
}

.footer_form > input[type="submit"] {
    margin-left: 30px;
    width: 80px;
    height: 45px;
    background-color: orange;
    border-color: orange;
    border-radius: 5%;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 0 10px 5px rgba(255, 166, 0, 0.638);
    cursor: pointer;
    transition: all 500ms;
    margin-bottom: 0;
}

.copyright {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 0;
    text-align: center;
}